# Eric Schmidt

## Assignment 5

## DATA 612: Data Mining

## Dr. AbdelRahman

# 1. Work on your selected data set and covert a column of non-categorical type into a categorical type.

I chose to select the `State_Drug_Utilization_Data_2010` dataset for this assignment.

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/buckioh1/data_612/master/State_Drug_Utilization_Data_2010/State_Drug_Utilization_Data_2010.csv')
df.head()

,Unnamed: 0,Utilization Type,State,Labeler Code,Product Code,Package Size,Year,Quarter,Product Name,Units Reimbursed,...,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Quarter Begin,Quarter Begin Date,Latitude,Longitude,Location,NDC
0,128037,MCOU,MA,37205,137,5,2010,4,ARTIFICIAL,15.000,...,1,4.08,4.08,0.0,10/1,10/01/2010,31.1801,-91.8749,"(31.1801, -91.8749)",37205013705
1,491755,FFSU,FL,62756,763,88,2010,1,TORSEMIDE,255.000,...,8,103.33,103.33,0.0,1/1,01/01/2010,39.3498,-75.5148,"(39.3498, -75.5148)",62756076388
2,2568076,FFSU,UT,46987,323,11,2010,2,Kadian Ora,120.000,...,2,905.24,905.24,0.0,4/1,04/01/2010,44.2853,-99.4632,"(44.2853, -99.4632)",46987032311
3,491263,FFSU,MN,781,5185,1,2010,4,LEVOTHYROX,1114.000,...,34,312.22,306.22,6.0,10/1,10/01/2010,43.3504,-84.5603,"(43.3504, -84.5603)",781518501
4,836489,FFSU,XX,51552,809,6,2010,2,COLD CREAM,226.089,...,7,52.87,52.87,0.0,4/1,04/01/2010,NaN,NaN,NaN,51552080906

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156220 entries, 0 to 156219
Data columns (total 21 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unnamed: 0                      156220 non-null  int64
 1   Utilization Type                156220 non-null  object
 2   State                           156220 non-null  object
 3   Labeler Code                    156220 non-null  int64
 4   Product Code                    156220 non-null  int64
 5   Package Size                    156220 non-null  int64
 6   Year                            156220 non-null  int64
 7   Quarter                         156220 non-null  int64
 8   Product Name                    156166 non-null  object
 9   Units Reimbursed                156220 non-null  float64
 10  Suppression Used                156220 non-null  bool
 11  Number of Prescriptions         156220 non-null  int64
 12  Total Amount Reimbursed         156220 non-null  float64
 13  Medicaid Amount Reimbursed      156220 non-null  float64
 14  Non Medicaid Amount Reimbursed  156220 non-null  float64
 15  Quarter Begin                   156220 non-null  object
 16  Quarter Begin Date              156220 non-null  object
 17  Latitude                        145416 non-null  float64
 18  Longitude                       145416 non-null  float64
 19  Location                        145416 non-null  object
 20  NDC                             156220 non-null  int64
dtypes: bool(1), float64(6), int64(8), object(6)
memory usage: 24.0+ MB

As can be seen from the above output, `Utilization Type` and `State` columns are object (string) data types. I will convert this non-categorical type into a categorical type.

In [6]:
df[['Utilization Type', 'State']] = df[['Utilization Type', 'State']].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156220 entries, 0 to 156219
Data columns (total 21 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unnamed: 0                      156220 non-null  int64
 1   Utilization Type                156220 non-null  category
 2   State                           156220 non-null  category
 3   Labeler Code                    156220 non-null  object
 4   Product Code                    156220 non-null  object
 5   Package Size                    156220 non-null  int64
 6   Year                            156220 non-null  int64
 7   Quarter                         156220 non-null  int64
 8   Product Name                    156166 non-null  object
 9   Units Reimbursed                156220 non-null  float64
 10  Suppression Used                156220 non-null  bool
 11  Number of Prescriptions         156220 non-null  int64
 12  Total Amount Reimbursed         156220 non-null  float64
 13  Medicaid Amount Reimbursed      156220 non-null  float64
 14  Non Medicaid Amount Reimbursed  156220 non-null  float64
 15  Quarter Begin                   156220 non-null  object
 16  Quarter Begin Date              156220 non-null  object
 17  Latitude                        145416 non-null  float64
 18  Longitude                       145416 non-null  float64
 19  Location                        145416 non-null  object
 20  NDC                             156220 non-null  int64
dtypes: bool(1), category(2), float64(6), int64(6), object(6)
memory usage: 21.9+ MB

As can be seen above, the `data types` for both `Utilization Type` and `State` have been changed to `category`.

# 2. Convert another column into a string type.

In this section we'll changed `Labeler Code` and `Product Code` into a `str` type.

In [7]:
df[['Labeler Code', 'Product Code']] = df[['Labeler Code', 'Product Code']].astype('str')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156220 entries, 0 to 156219
Data columns (total 21 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unnamed: 0                      156220 non-null  int64
 1   Utilization Type                156220 non-null  category
 2   State                           156220 non-null  category
 3   Labeler Code                    156220 non-null  object
 4   Product Code                    156220 non-null  object
 5   Package Size                    156220 non-null  int64
 6   Year                            156220 non-null  int64
 7   Quarter                         156220 non-null  int64
 8   Product Name                    156166 non-null  object
 9   Units Reimbursed                156220 non-null  float64
 10  Suppression Used                156220 non-null  bool
 11  Number of Prescriptions         156220 non-null  int64
 12  Total Amount Reimbursed         156220 non-null  float64
 13  Medicaid Amount Reimbursed      156220 non-null  float64
 14  Non Medicaid Amount Reimbursed  156220 non-null  float64
 15  Quarter Begin                   156220 non-null  object
 16  Quarter Begin Date              156220 non-null  object
 17  Latitude                        145416 non-null  float64
 18  Longitude                       145416 non-null  float64
 19  Location                        145416 non-null  object
 20  NDC                             156220 non-null  int64
dtypes: bool(1), category(2), float64(6), int64(6), object(6)
memory usage: 21.9+ MB

As can be seen above, `Labeler Code` and `Product Code` are now `object` data types which are also known as `str`.

# 3. Post your work on GitHub.

This notebook can be found at the following link: https://github.com/buckioh1/Franklin/tree/main/Assignment%205

# 4. Add a README file.

The README file can be found here: https://github.com/buckioh1/Franklin/blob/main/Assignment%205/README.md