# Eric Schmidt

## Assignment 6

## DATA 612: Data Mining

## Dr. AbdelRahman

## Working with strings:

### 1. Clean a column on your data set using regular expression methods.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/buckioh1/data_612/master/stock_data/stocks_yahoo.csv',
                 low_memory= False)
df.head()

,no,date,company_name,price_at_close,price_change,price_after_hours,previous_close,today opened,price range,52 week range,volume,average volume,market cap,beta (3Y Monthly),PE Ratio,EPS,earnings date,Dividend Yield,1Y target est
0,1,Nov 21 2019,GOOG - Alphabet Inc.,1301.35,-1.70 (-0.13%),1301.35,1303.05,1301.48,"1,293.01 - 1,312.45","970.11 - 1,335.53",825205.00,1280155.0,897.113B,1.01,27.93,46.60,NaN,N/A (N/A),1487.52
1,2,Nov 21 2019,GOOGL - Alphabet Inc.,1300.14,-1.72 (-0.13%),1300.14,1301.86,1299.25,"1,290.75 - 1,311.04","977.66 - 1,333.92",1058179.00,1296875.0,897.098B,1.01,27.90,46.60,"Feb 3, 2020 - Feb 7, 2020",N/A (N/A),1459.33
2,3,Nov 21 2019,IBM - International Business Machines Corporation,133.84,+0.64 (+0.48%),133.84,133.20,133.40,132.98 - 134.17,105.94 - 152.95,2732256.00,3483052.0,118.534B,1.34,15.55,8.60,21-Jan-20,6.48 (4.86%),148.30
3,4,Nov 21 2019,MSFT - Microsoft Corporation,149.48,-0.14 (-0.09%),149.48,149.62,149.40,148.51 - 149.80,93.96 - 151.33,16125077.00,22813109.0,1.14T,1.23,28.20,5.30,"Jan 28, 2020 - Feb 3, 2020",2.04 (1.36%),160.16
4,5,Nov 21 2019,AAPL - Apple Inc.,262.01,-1.18 (-0.45%),262.01,263.19,263.69,261.18 - 264.01,142.00 - 268.00,28768117.00,25813040.0,1.184T,1.25,22.04,11.89,"Jan 27, 2020 - Jan 31, 2020",3.08 (1.16%),257.21

Let's split the `company_name` column separating the company symbol from the company name.

In [3]:
import numpy as np

company_string = df['company_name'].to_numpy()
company_string

array(['GOOG - Alphabet Inc.', 'GOOGL - Alphabet Inc.',
       'IBM - International Business Machines Corporation', ...,
       'IEC - IEC Electronics Corp.', 'MGLN - Magellan Health, Inc.',
       'ZS - Zscaler, Inc.'], dtype=object)

In [4]:
range(len(company_string))

range(0, 67905)

In [5]:
company_string[0]

'GOOG - Alphabet Inc.'

In [6]:
import re
temp_list = []

symbol = re.split(r"\ - ",company_string[0], maxsplit = 1)[0]
symbol

'GOOG'

In [7]:
symbol = []
company = []
for i in range(len(company_string)):
    symbol_ = re.split(r"\ - ",company_string[i], maxsplit = 1)[0]
    company_ = re.split(r"\ - ",company_string[i], maxsplit = 1)[1]
    symbol += [symbol_]
    company += [company_]

symbol[:10]

['GOOG', 'GOOGL', 'IBM', 'MSFT', 'AAPL', 'AMZN', 'CGC', 'ORCL', 'FIVN', 'JPM']

### 2. Store the cleaned column into another column of your data set and call it “your_col_name_cleaned”.

In [8]:
df['Symbol_cleaned'] = symbol
df['Name_cleaned'] = company
df.head()

,no,date,company_name,price_at_close,price_change,price_after_hours,previous_close,today opened,price range,52 week range,...,average volume,market cap,beta (3Y Monthly),PE Ratio,EPS,earnings date,Dividend Yield,1Y target est,Symbol_cleaned,Name_cleaned
0,1,Nov 21 2019,GOOG - Alphabet Inc.,1301.35,-1.70 (-0.13%),1301.35,1303.05,1301.48,"1,293.01 - 1,312.45","970.11 - 1,335.53",...,1280155.0,897.113B,1.01,27.93,46.60,NaN,N/A (N/A),1487.52,GOOG,Alphabet Inc.
1,2,Nov 21 2019,GOOGL - Alphabet Inc.,1300.14,-1.72 (-0.13%),1300.14,1301.86,1299.25,"1,290.75 - 1,311.04","977.66 - 1,333.92",...,1296875.0,897.098B,1.01,27.90,46.60,"Feb 3, 2020 - Feb 7, 2020",N/A (N/A),1459.33,GOOGL,Alphabet Inc.
2,3,Nov 21 2019,IBM - International Business Machines Corporation,133.84,+0.64 (+0.48%),133.84,133.20,133.40,132.98 - 134.17,105.94 - 152.95,...,3483052.0,118.534B,1.34,15.55,8.60,21-Jan-20,6.48 (4.86%),148.30,IBM,International Business Machines Corporation
3,4,Nov 21 2019,MSFT - Microsoft Corporation,149.48,-0.14 (-0.09%),149.48,149.62,149.40,148.51 - 149.80,93.96 - 151.33,...,22813109.0,1.14T,1.23,28.20,5.30,"Jan 28, 2020 - Feb 3, 2020",2.04 (1.36%),160.16,MSFT,Microsoft Corporation
4,5,Nov 21 2019,AAPL - Apple Inc.,262.01,-1.18 (-0.45%),262.01,263.19,263.69,261.18 - 264.01,142.00 - 268.00,...,25813040.0,1.184T,1.25,22.04,11.89,"Jan 27, 2020 - Jan 31, 2020",3.08 (1.16%),257.21,AAPL,Apple Inc.

## Use of .apply():

### 1. Create a function that returns the mean, sum, mode, median, and range (separately)

In [9]:
def math(vec):
    if vec.dtype != 'object':
        mean = np.nanmean(vec)
        mean_value = f"${mean:,.2f}"
        add = np.nansum(vec)
        add_value = f"${add:,.2f}"
        vals, counts = np.unique(vec, return_counts = True)
        index = np.argmax(counts)
        mode = vals[index]
        mode_value = f"${mode:,.2f}"
        median = np.nanmedian(vec)
        median_value = f"${median:,.2f}"
        range_num = np.nanmax(vec) - np.nanmin(vec)
        range_num_value = f"${range_num:,.2f}"
        return mean_value, add_value, mode_value, median_value, range_num_value

### 2. Run the function into your chosen data set using the .apply() method.

In [10]:
df.apply(math).rename(index = {0: "Mean", 1: "Addition", 2: "Mode", 3: "Median", 4: "Range"})

,no,date,company_name,price_at_close,price_change,price_after_hours,previous_close,today opened,price range,52 week range,...,average volume,market cap,beta (3Y Monthly),PE Ratio,EPS,earnings date,Dividend Yield,1Y target est,Symbol_cleaned,Name_cleaned
Mean,"$33,953.00",None,None,$431.39,None,$431.39,$432.30,$431.61,None,None,...,"$3,147,955.47",None,$1.06,$35.63,$88.74,None,None,$568.55,None,None
Addition,"$2,305,578,465.00",None,None,"$29,231,323.63",None,"$29,231,323.63","$29,292,835.09","$29,241,720.91",None,None,...,"$209,603,466,703.00",None,"$67,022.71","$2,145,887.12","$5,764,840.02",None,None,"$32,936,766.28",None,None
Mode,$1.00,None,None,$21.00,None,$21.00,$21.00,$21.00,None,None,...,$0.00,None,$1.03,$0.00,$2.86,None,None,$0.00,None,None
Median,"$33,953.00",None,None,$46.74,None,$46.74,$46.85,$46.68,None,None,...,"$1,182,167.00",None,$1.00,$15.16,$2.90,None,None,$65.00,None,None
Range,"$67,904.00",None,None,"$344,970.00",None,"$344,970.00","$344,970.00","$345,000.23",None,None,...,"$97,959,712.00",None,$169.13,"$16,387.50","$49,872.55",None,None,"$384,000.00",None,None

### 3. Post your work on GitHub

This assignment can be found here: https://github.com/buckioh1/Franklin/tree/main/Assignment%206